Online Notes/data/categoriesSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="subname"/>
              <xs:element name="note" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:date" name="deadline"/>
					<xs:element name="priority">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[hml]"></xs:pattern>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:date" name="created"/>
                  </xs:sequence>
                  <xs:attribute type="xs:integer" name="id" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:integer" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>